<!DOCTYPE html>
<html class="uk-background-muted">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />

  <!-- jQuery is required -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,100,200,250,300,500">
  <title>friendly broccoli</title>
<!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-101966598-1', 'auto');
    ga('send', 'pageview');

  </script> 
<!-- end of google code -->
</head>
<body>
<style type="text/css">
  .uk-padding{
    padding: 30px;
  }
  .uk-section {
    padding: 30px;
  }
  html, h1, h2, h6, p .name {
    font-family: 'Roboto';

  }

  h3, h4, h5 {
    font-family: 'Roboto';
  }

  h1 {
    font-weight: 300;
  }
  p {
    font-weight: 200;
  }

  .uk-icon {
    margin-right: 10px;
  }

  .uk-button {
    font-family: 'Roboto';
    font-weight: 200;

  }

</style>

<div class="uk-background-muted uk-padding uk-panel" >
<h1 style="text-align: center;">friendly broccoli</h1>

<hr>
    <div class="uk-section ">
        <div class="uk-grid-match uk-grid-small" uk-grid>
            <div class="uk-width-5-5@s" style="height: 100%;">
              <h2 style="color: green; text-align: center;" > Thank you, the form has been submitted successfully.</h2>
              <div style="text-align: center;">
                <a class="uk-button uk-button-secondary uk-width-1-3" href="/" style="margin-top:10px; border-radius: 10px;"><span class="uk-margin-small-right" uk-icon="icon: home"></span></a>
              </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100% ;position: absolute; bottom: 0;">
<hr>
<h6 style="font-weight: 100; font-family: 'Roboto'; padding: 0; margin-top: -10px; font-size: 10px; text-align: center; color: #A9A9A9; " >
&copy; copyright
</h6>
</div> 
</div>





</body>
</html>